@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:wght@300;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
a:hover {
    color: rgb(37, 3, 254);
}
  
  .text-primary {
    color: rgb(254, 209, 54) !important;
}

h1 {
    position: absolute;
    font-family: "Comfortaa", sans-serif;
    font-size: clamp(2rem, 4vw, 1.5rem);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    top: 29px;
    left: 60px;    
    color: aqua;
    text-shadow: 0 0 20px white;
  }

section {
    background-image: radial-gradient(
      circle at 20% 100%,
      rgba(184, 184, 184, 0.1) 0%,
      rgba(184, 184, 184, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 99%
    ),
    linear-gradient(40deg, #040a22, #162561, #202e64, #6f7aa6);
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center;
  gap: 60px;
  min-height: 100vh;
  padding: 20px 60px;
}

/******************** CONTENT *********************/

.content {
  max-width: 2400px;
}

.content h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 36px;
  color: #fff;
}

.content p {
  font-size: clamp(1rem, 4vw, 1.1rem);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #fff;
}

.content button {
  background: #eaeaea;
  color: #202134;
  font-size: clamp(0.9rem, 4vw, 1rem);
  font-weight: 600;
  border: 0;
  outline: 0;
  padding: 8px 14px;
  border-radius: 7px;
  transform: scale(1);
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.content button:is(:hover, :focus) {
  transform: scale(0.98);
  background-color: aqua;
  color: black;
}

/********************* SLIDER *********************/

.swiper {
  position: relative;
  width: 350px;
    height: 450px;
}

.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.3);
  user-select: none;
  border-radius: 20px;
}

.swiper-slide img {
  width: 100%;
  height: 80%;
  border-radius: 20px;
}


@media (max-width: 1050px) {
  .swiper {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 930px) {
  section {
    grid-template-columns: 100%;
    grid-template-rows: 55% 40%;
    grid-template-areas:
      "slider"
      "content";
    place-items: center;
    gap: 64px;
    padding: 120px;
  }

  .swiper {
    grid-area: slider;
  }

  .content {
    grid-area: content;
    text-align: center;
  } 

  .content h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 746px) {
    section {
        padding: 110px 40px 60px;
        gap: 34px;
      }
    .content h2 {
       
        font-size:large;
      }
}

@media (max-width: 470px) {
    h1 {
        font-size: clamp(1.5rem, 2vw, 1.2rem);
        text-align: center;     
    }
  section {
    padding: 80px 40px 60px;
  }
  .swiper {
    width: 270px;
    height: 360px;
  }
  .swiper-slide img {
    border-radius: 10px;
  }
}

/**************    about   ********************/

#about {
    padding: 50px 0;
    background-color: black;
}

section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
  
.section-heading {
    color: aqua;
}
.section-subheading {
    color: white;
}
  
  
.picself {   
    width: 340px;
    height: 340px;
    margin-top: 25px;
    float: right;     
  }
  .section-subheading {    
    line-height: 41px;
    font-weight: bold;
  }

@media (max-width: 991px) {
    .section-subheading {
        line-height: 25px;
        font-weight: bold;
}}

@media (max-width: 430px) {
    .section-subheading {
        line-height: 21px;
        font-weight:normal;
}}

@media (max-width: 768px) {
    .picself {
        width: 200px;
        height: 100px;
        margin-top: 25px;
        float:none;
    } 
}
  
  

/**************    servicios    *******************/


#services {
    padding: 110px 0;
    background-image: radial-gradient(
      circle at 20% 100%,
      rgba(184, 184, 184, 0.1) 0%,
      rgba(184, 184, 184, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 99%
    ),
    linear-gradient(40deg, #040a22, #162561, #202e64, #6f7aa6);
  background-repeat: no-repeat;
  background-size: cover;
}
  
.service-heading {
    margin: 15px 0;
    text-transform: none;
    color: aqua;
}
.parrafo {
    color: #fff;
}

/************** cards traidas de decibel   ********/
.ustedes {
    padding-top: 110px;
    
}
.ustedes ul {
  display: flex;
  gap: auto;
   margin: 0 auto;
}

.ustedes .cards { 
    height: auto;
    max-width: 100%;
    /*vertical-align: middle;*/
    
  }
  
  .ustedes .btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
  }
  .ustedes .btn--block {
    display: block;
    width: 100%;
  }
  .ustedes  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px 40px;
    padding: 0 ;
  } 
  .ustedes .cards__item {
    display: flex;
    padding: 1rem;
  }
  @media (min-width: 40rem) {
    .ustedes .cards__item {
      width: 50%;
    }
  }
  @media (min-width: 56rem) {
    .ustedes .cards__item {       
      width: 33.3%;
    }
  }
  .ustedes .card {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
  }
  .ustedes .card:hover .card__image {
    filter: contrast(100%);
  }
  .ustedes .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  .ustedes .card img {
    position: relative;
    /*padding-left: 0px;
    padding-right: 0px;*/
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    /*position: relative;*/
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  }
  .ustedes .card img::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    .ustedes .card img::before {      
      padding-top: 50%;
    }
  }
  /*.ustedes .card__image {    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  }*/
  .ustedes .card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    .card__image::before {      
      padding-top: 66.6%;
    }
  }
  .card__image--flowers {    
    background-image: url(./img/fabicon.png);
  }
  .card__image--river {
    background-image: url(https://unsplash.it/800/600?image=11);
  }
  .card__image--record {
    background-image: url(https://unsplash.it/800/600?image=39);
  }
  .card__image--fence {
    background-image: url(https://unsplash.it/800/600?image=59);
  }
  .card__image--fence {
    background-image: url(https://unsplash.it/800/600?image=59);
  }
  .card__image--fence {
    background-image: url(https://unsplash.it/800/600?image=59);
  }
  .card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .ustedes .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }


  
/******************** Estilos para el modal *******************/
.modal-overlay {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .modal.active {
    display: block;
    padding: 1.5rem;
  }
  
  .modal h2 {
    margin-bottom: 1rem;
  }
  
  .modal p {
    margin-bottom: 1.5rem;
  }
  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 45px;
    color: #d3fc06;
    padding: 0.5rem;
  }
  
  .modal-close:hover {
    color: aqua;
  }
  .modal-overlay .modal video {
    padding-top: 80px;
    z-index: 1000;
}
@media (max-width: 439px) {
  .modal-close {
    position: absolute;
    top: 4px;
    right: 2px;
  }
}
  

/*******    seccion tarifas   *****************/

.precios {
    padding: 110px 0;
    background-color: black;
}

#reserva {
    color: aqua;
    text-align: center;
}
#cita {
    color: white;
    text-align: center;
}

.boxes {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {   
    background: aqua;
    text-align: center;
    padding: 1.5rem 4rem;
    box-shadow: whitesmoke;
}
.precios button {    
    position: relative;
    top: 60px;
    left: 60px;   
    background: aqua;
    color: #202134;
    font-size: clamp(0.9rem, 4vw, 1rem);
    font-weight: 600;
    border: 0;
    outline: 0;
    padding: 8px 14px;
    border-radius: 7px;
    transform: scale(1);
    transition: all 0.4s ease-in;
    cursor: pointer;
}
  
.precios button:is(:hover, :focus) {
    transform: scale(0.98);
    background-color: blue;
    color: black;
}

 /********    seccion contacto ********/

.contacto  {
    padding: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/fondo_redes.jpeg");
    background-size: cover;
    background-position: center;
    font-family: "Comfortaa", sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.glass1 { 
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 2em;    
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: 0px 20px 18px rgba(0, 0, 0, 0.3);
}
.glass2 { 
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 2em;   
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: 0px 20px 18px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
  .glass , .glass1, .glass2 {
    padding: 8px;
    font-size: 1.2em;
   
  }
}
@media (max-width: 600px) {
  .glass1, .glass2 {
    padding: 5px;
    font-size: 1.1em;  
  }
}

  /****** seccion contacto inicial    ******/
  
  section#contact .section-heading {    
    color: rgb(37, 3, 254);
  }
  section#contact .form-group {
    margin-bottom: 25px;
  }
  section#contact .form-group input,
  section#contact .form-group textarea {
    padding: 20px;
  }
  section#contact .form-group input.form-control {
    height: auto;
  }
  section#contact .form-group textarea.form-control {
    height: 248px;
  }
  section#contact .form-control:focus {
    border-color: rgb(37, 3, 254);
    box-shadow: none;
  }
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: rgb(181, 170, 251);
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  section#contact :-moz-placeholder {
    font-weight: 700;
    color: rgb(181, 170, 251);   
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: rgb(181, 170, 251);   
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: rgb(181, 170, 251);
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  footer {
    background-color: #eaeaea;
    padding: 25px 0;
    text-align: center;
  }
  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  footer a {
    text-decoration: none;
    color: #212529;    
  }  
  footer a:hover {
    background: none;
  }
 
  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  ul.social-buttons {
    margin-bottom: 0;
  }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
    
  }
  ul.social-buttons li a:active,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: rgb(37, 3, 254);
  }
  

  /****************   css de sección privacidad    *******************/

  .avisolegal {
    background-color: rgba(218,218,218,1);
  }

  article {   
    max-width: 100%;
    margin: 0 auto;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 1.5rem;
    color: #0714f9;
  }
  @media all and (min-width: 900px) {
    article {
      max-width: 65%;
    }
  }
  article h2 {
    margin-left: 1.5rem;
    font-size: 2rem;
    margin: 1.5rem 0 0 1.5rem;
  }
  article p {
    max-width: 95%;
    margin: 0 auto;
    padding: 0.5rem 1.75rem;
    font-weight: 300;    
  }
  blockquote {
    background: rgb(37, 3, 254);
    color: #fff;
    border-radius: 12px;
    padding: 25px 0;
    margin: 40px 0 50px;
    position: relative;
  }
  blockquote p {
    font-weight: 200;
  }  
  
  @media (max-width: 900px) {
    article {
      font-size: 0.8rem;
    }
  }
